In [1]:
import pandas as pd
import pickle

In [2]:
train_data = pd.read_csv('/home/deepak/Desktop/Dphi_Exercises/Loan_NoLoan/loan_train.csv')
train_data.head()

,Unnamed: 0,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,LP002305,Female,No,0,Graduate,No,4547,0.0,115.0,360.0,1.0,Semiurban,1
1,1,LP001715,Male,Yes,3+,Not Graduate,Yes,5703,0.0,130.0,360.0,1.0,Rural,1
2,2,LP002086,Female,Yes,0,Graduate,No,4333,2451.0,110.0,360.0,1.0,Urban,0
3,3,LP001136,Male,Yes,0,Not Graduate,Yes,4695,0.0,96.0,NaN,1.0,Urban,1
4,4,LP002529,Male,Yes,2,Graduate,No,6700,1750.0,230.0,300.0,1.0,Semiurban,1

In [3]:
test_data = pd.read_csv('/home/deepak/Desktop/Dphi_Exercises/Loan_NoLoan/loan_test.csv')
test_data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001116,Male,No,0,Not Graduate,No,3748,1668.0,110.0,360.0,1.0,Semiurban
1,LP001488,Male,Yes,3+,Graduate,No,4000,7750.0,290.0,360.0,1.0,Semiurban
2,LP002138,Male,Yes,0,Graduate,No,2625,6250.0,187.0,360.0,1.0,Rural
3,LP002284,Male,No,0,Not Graduate,No,3902,1666.0,109.0,360.0,1.0,Rural
4,LP002328,Male,Yes,0,Not Graduate,No,6096,0.0,218.0,360.0,0.0,Rural

In [4]:
train_data=train_data.drop(columns=['Unnamed: 0', 'Loan_ID'])

In [5]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 491 entries, 0 to 490
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             481 non-null    object
 1   Married            490 non-null    object
 2   Dependents         482 non-null    object
 3   Education          491 non-null    object
 4   Self_Employed      462 non-null    object
 5   ApplicantIncome    491 non-null    int64
 6   CoapplicantIncome  491 non-null    float64
 7   LoanAmount         475 non-null    float64
 8   Loan_Amount_Term   478 non-null    float64
 9   Credit_History     448 non-null    float64
 10  Property_Area      491 non-null    object
 11  Loan_Status        491 non-null    int64
dtypes: float64(4), int64(2), object(6)
memory usage: 46.2+ KB

In [6]:
train_data.Gender.value_counts()

Male      393
Female     88
Name: Gender, dtype: int64

In [7]:
train_data.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status
count,491.000000,491.000000,475.000000,478.000000,448.000000,491.000000
mean,5401.189409,1589.730998,145.014737,341.297071,0.848214,0.698574
std,6419.427177,2919.320624,86.310534,66.964051,0.359214,0.459345
min,150.000000,0.000000,17.000000,12.000000,0.000000,0.000000
25%,2923.500000,0.000000,100.000000,360.000000,1.000000,0.000000
50%,3865.000000,1229.000000,126.000000,360.000000,1.000000,1.000000
75%,5705.500000,2251.500000,162.000000,360.000000,1.000000,1.000000
max,81000.000000,41667.000000,700.000000,480.000000,1.000000,1.000000

In [8]:
train_data['LoanAmount'].fillna(train_data['LoanAmount'].mean(), inplace=True)
train_data['Self_Employed'].fillna('No',inplace=True)

In [9]:
import numpy as np
train_data['LoanAmount_log'] = np.log(train_data['LoanAmount'])

In [10]:
train_data['TotalIncome'] = train_data['ApplicantIncome'] +train_data['CoapplicantIncome']
train_data['TotalIncome_log'] = np.log(train_data['TotalIncome'])

In [11]:
train_data['Gender'].fillna(train_data['Gender'].mode()[0], inplace=True)
train_data['Married'].fillna(train_data['Married'].mode()[0], inplace=True)
train_data['Dependents'].fillna(train_data['Dependents'].mode()[0], inplace=True)
train_data['Loan_Amount_Term'].fillna(train_data['Loan_Amount_Term'].mode()[0], inplace=True)
train_data['Credit_History'].fillna(train_data['Credit_History'].mode()[0], inplace=True)

In [12]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
train_data["Gender"] = le.fit_transform(train_data["Gender"])
train_data["Married"] = le.fit_transform(train_data["Married"])
train_data["Education"] = le.fit_transform(train_data["Education"])
train_data["Self_Employed"] = le.fit_transform(train_data["Self_Employed"])
train_data["Property_Area"] = le.fit_transform(train_data["Property_Area"])
train_data["Loan_Status"] = le.fit_transform(train_data["Loan_Status"])
train_data["Dependents"] = le.fit_transform(train_data["Dependents"])

In [13]:
train_data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,LoanAmount_log,TotalIncome,TotalIncome_log
0,0,0,0,0,0,4547,0.0,115.0,360.0,1.0,1,1,4.744932,4547.0,8.422223
1,1,1,3,1,1,5703,0.0,130.0,360.0,1.0,0,1,4.867534,5703.0,8.648748
2,0,1,0,0,0,4333,2451.0,110.0,360.0,1.0,2,0,4.700480,6784.0,8.822322
3,1,1,0,1,1,4695,0.0,96.0,360.0,1.0,2,1,4.564348,4695.0,8.454253
4,1,1,2,0,0,6700,1750.0,230.0,300.0,1.0,1,1,5.438079,8450.0,9.041922

In [14]:
print(sum(train_data.Loan_Status == 1))
print(sum(train_data.Loan_Status == 0))

343
148

In [15]:
new_train_data = train_data.copy()
# Getting seperated data with 1 and 0 status.
df_majority = new_train_data[new_train_data.Loan_Status == 1]
df_minority = new_train_data[new_train_data.Loan_Status == 0]
# Here we are downsampling the Majority Class Data Points. 
# i.e. We will get equal amount of datapoint as Minority class from Majority class
from sklearn.utils import resample
df_manjority_downsampled = resample(df_majority, replace = False, n_samples = 148, random_state = 1)
df_downsampled = pd.concat([df_manjority_downsampled, df_minority])
print("Downsampled data:- \n", df_downsampled.Loan_Status.value_counts())

# Here we are upsampling the Minority Class Data Points. 
# i.e. We will get equal amount of datapoint as Majority class from Minority class
df_minority_upsampled = resample(df_minority, replace = True, n_samples = 343, random_state = 1)
df_upsampled = pd.concat([df_majority, df_minority_upsampled])
print("Upsampled data:- \n", df_upsampled.Loan_Status.value_counts())

Downsampled data:-
 1    148
0    148
Name: Loan_Status, dtype: int64
Upsampled data:-
 1    343
0    343
Name: Loan_Status, dtype: int64

In [16]:
df_upsampled = pd.get_dummies(df_upsampled)

In [17]:
df_upsampled.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,LoanAmount_log,TotalIncome,TotalIncome_log
0,0,0,0,0,0,4547,0.0,115.0,360.0,1.0,1,1,4.744932,4547.0,8.422223
1,1,1,3,1,1,5703,0.0,130.0,360.0,1.0,0,1,4.867534,5703.0,8.648748
3,1,1,0,1,1,4695,0.0,96.0,360.0,1.0,2,1,4.564348,4695.0,8.454253
4,1,1,2,0,0,6700,1750.0,230.0,300.0,1.0,1,1,5.438079,8450.0,9.041922
7,1,1,1,1,0,5285,1430.0,161.0,360.0,0.0,1,1,5.081404,6715.0,8.812099

In [18]:
df_upsampled.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 686 entries, 0 to 26
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             686 non-null    int64
 1   Married            686 non-null    int64
 2   Dependents         686 non-null    int64
 3   Education          686 non-null    int64
 4   Self_Employed      686 non-null    int64
 5   ApplicantIncome    686 non-null    int64
 6   CoapplicantIncome  686 non-null    float64
 7   LoanAmount         686 non-null    float64
 8   Loan_Amount_Term   686 non-null    float64
 9   Credit_History     686 non-null    float64
 10  Property_Area      686 non-null    int64
 11  Loan_Status        686 non-null    int64
 12  LoanAmount_log     686 non-null    float64
 13  TotalIncome        686 non-null    float64
 14  TotalIncome_log    686 non-null    float64
dtypes: float64(7), int64(8)
memory usage: 85.8 KB

In [19]:
X = train_data.drop('Loan_Status',1) 
y = train_data.Loan_Status

In [20]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix, f1_score, classification_report
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 1)

In [21]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
grid_parameters = {'penalty': ['l1','l2'], 'C': [0.001,0.01,0.1,1,10,100,1000]}
model = GridSearchCV(LogisticRegression(fit_intercept = True,), grid_parameters, verbose = 1, cv = 3, n_jobs = -1)
#RandomForestClassifier(random_state = 0)
model.fit(X_train, y_train)
pred = model.predict(X_test)
print(classification_report(y_test,pred))

Fitting 3 folds for each of 14 candidates, totalling 42 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

              precision    recall  f1-score   support

           0       0.86      0.34      0.49        35
           1       0.73      0.97      0.83        64

    accuracy                           0.75        99
   macro avg       0.79      0.66      0.66        99
weighted avg       0.77      0.75      0.71        99

[Parallel(n_jobs=-1)]: Done  42 out of  42 | elapsed:    2.4s finished

In [22]:
grid_parameters = {'max_depth' : [3, 5, 7, 10], 'learning_rate' : [0.001, 0.01, 0.1, 1, 10], 
                   'n_estimators' : [100,150,200,250,500]}

model_2 = GridSearchCV(XGBClassifier(), grid_parameters, verbose = 1, cv = 3, n_jobs = -1)
model_2.fit(X_train,y_train)
pred = model_2.predict(X_test)
print(classification_report(y_test,pred))

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 3 folds for each of 100 candidates, totalling 300 fits

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:    4.8s
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed:   11.6s
[Parallel(n_jobs=-1)]: Done 293 out of 300 | elapsed:   13.8s remaining:    0.3s
[Parallel(n_jobs=-1)]: Done 300 out of 300 | elapsed:   13.9s finished

              precision    recall  f1-score   support

           0       0.86      0.34      0.49        35
           1       0.73      0.97      0.83        64

    accuracy                           0.75        99
   macro avg       0.79      0.66      0.66        99
weighted avg       0.77      0.75      0.71        99

In [ ]:
grid_parameters = {'max_depth' : [5, 7, 10], 'n_estimators' : [100,150,200,250,500]}
model_3 = GridSearchCV(RandomForestClassifier(), grid_parameters, verbose = 1, cv = 3, n_jobs = -1)
model_3.fit(X_train,y_train)
pred = model_3.predict(X_test)
print(classification_report(y_test,pred))

Fitting 3 folds for each of 15 candidates, totalling 45 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

In [ ]:
y = df_upsampled['Loan_Status']
x = df_upsampled.drop(["Loan_Status"], axis = 1)
# Splitting The Data into Train and Test
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 1)
# Data Standardization
# As our data is not much normally distributed we will choose Standardization using Standard-Scaler aiming that
# it will reduce more skewness and contribute in accuracy gain.
sc = StandardScaler()
x_train  = sc.fit_transform(x_train)
x_test  = sc.transform(x_test)

In [ ]:
grid_parameters = {'max_depth' : [5, 7, 10], 'n_estimators' : [100,150,200,250,500]}
model_4 = GridSearchCV(RandomForestClassifier(), grid_parameters, verbose = 1, cv = 3, n_jobs = -1)
model_4.fit(x_train, y_train)
pred = model_4.predict(x_test)
print(classification_report(y_test,pred))

In [ ]:
grid_parameters = {'max_depth' : [3, 5, 7, 10], 'learning_rate' : [0.001, 0.01, 0.1, 1, 10], 
                   'n_estimators' : [100,150,200,250,500]}
model_5 = GridSearchCV(XGBClassifier(objective = 'binary:hinge'), grid_parameters, verbose = 1, cv = 3, n_jobs = -1)
model_5.fit(x_train, y_train)
pred = model_5.predict(x_test)
print(classification_report(y_test,pred))

In [ ]:
df_upsampled.head()
df_upsampled

In [ ]:
test_data['LoanAmount'].fillna(test_data['LoanAmount'].mean(), inplace=True)
test_data['Self_Employed'].fillna('No',inplace=True)
test_data['LoanAmount_log'] = np.log(test_data['LoanAmount'])
test_data['TotalIncome'] = test_data['ApplicantIncome'] +test_data['CoapplicantIncome']
test_data['TotalIncome_log'] = np.log(test_data['TotalIncome'])
test_data['Gender'].fillna(test_data['Gender'].mode()[0], inplace=True)
test_data['Married'].fillna(test_data['Married'].mode()[0], inplace=True)
test_data['Dependents'].fillna(test_data['Dependents'].mode()[0], inplace=True)
test_data['Loan_Amount_Term'].fillna(test_data['Loan_Amount_Term'].mode()[0], inplace=True)
test_data['Credit_History'].fillna(test_data['Credit_History'].mode()[0], inplace=True)

In [ ]:
le = LabelEncoder()
test_data["Gender"] = le.fit_transform(test_data["Gender"])
test_data["Married"] = le.fit_transform(test_data["Married"])
test_data["Education"] = le.fit_transform(test_data["Education"])
test_data["Self_Employed"] = le.fit_transform(test_data["Self_Employed"])
test_data["Property_Area"] = le.fit_transform(test_data["Property_Area"])
#test_data["Loan_Status"] = le.fit_transform(test_data["Loan_Status"])
test_data["Dependents"] = le.fit_transform(test_data["Dependents"])

In [ ]:
test_data = test_data.drop(columns='Loan_ID')

In [ ]:
data1 = pd.get_dummies(test_data)

In [ ]:
data1

In [ ]:
pred_test = model_4.predict(data1)

In [ ]:
predict_data = pd.DataFrame(data=pred_test, columns=['prediction'])
predict_data.to_csv('prediction_final.csv', index=False)

In [ ]:
filename = 'loan_model.pkl'
pickle.dump(model_4, open(filename,'wb'))

In [ ]:

model_columns = list(x.columns)
pickle.dump(model_columns,open('model_columns.pkl','wb'))